@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --pale-blue: hsl(243, 100%, 93%);

  --grayish-blue: hsl(229, 7%, 55%);

  --dark-Blue: hsl(228, 56%, 26%);

  --very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  background-color: var(--very-Dark-Blue);
  color: var(--pale-blue);
  font-size: 14px;
  margin: 0;
}
.container {
  background: url("./images/bg-desktop.png") no-repeat bottom;
  background-size: contain;
  display: grid;
  align-items: center;
  grid-template-rows: minmax(250px, 1fr) 120 px;
  height: 100vh;
  justify-content: stretch;
  justify-items: center;
  padding: 24px;
  width: 100%;
}
.card {
  display: grid;
  gap: 24px;
  justify-content: stretch;
  align-items: end;
  max-width: 960px;
  grid-template-columns: 1fr 1.5fr;
}
.navigation {
  background-color: var(--dark-Blue);
  border-radius: 8px 80px 8px 8px;
  padding: 36px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  justify-content: stretch;
  min-height: 175px;
  min-width: 175px;
}
.navigation-bar {
  display: flex;
  gap: 12px;
}
.nav-items {
  background-color: var(--very-Dark-Blue);
  border-radius: 6px;
  box-shadow: none;
  border: none;
  height: 48px;
  width: 48px;
  padding: 12px;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
}
.details-container {
  background-color: var(--dark-Blue);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 125px;
  padding: 24px;
  width: 100%;
}
.details-fold {
  display: flex;
  justify-content: space-between;
}
.fold-indicator-container {
  background-color: var(--very-Dark-Blue);
  border-radius: 20px;
  height: 20px;
  margin: 12px 0;
}
.fold-indicator {
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    height: 16px;
    margin: 2px;
    width: 81.5%;
  }
  .fold-point {
    background: var(--pale-blue);
    border-radius: 20px;
    height: 14px;
    width: 14px;
    margin: 1px;
  }
  .details-remaining {
    align-items: center;
    background: var(--pale-blue);
    border-radius: 4px;
    color: var(--very-Dark-Blue);
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    padding: 18px;
    position: relative;
    max-width: 165px;
  }
  .details-remaining span {
    font-size: 24px;
    font-weight: bold;
  }
  .details-remaining:before {
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--pale-blue);
    border-top: 10px solid var(--pale-blue);
    content: "";
    position: absolute;
    right: 0px;
    top: 60px;
  }
  .details-remaining {
    align-self: flex-end;
    right: 24px;
    top: 24px;
  }
  @media screen and (max-width: 650px) {
    .card {
      align-items: stretch;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }
    .container {
      background: url("./images/bg-mobile.png") no-repeat;
      background-size: cover;
      justify-items: stretch;
    }
    .details-wrapper {
      position: relative;
      flex-direction: column-reverse;
    }
    .details-remaining {
      align-self: center;
      position: absolute;
      right: 158px;
      top: 178px;
    }
    .details-remaining:before {
      display: none;
    }
  }